.App {
  text-align: center;
}
.homePage {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 50px;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.product {
  border: 1px solid grey;
  flex: 1;
}
.singleProduct {
  border: 1px solid grey;
  flex: 1;
  height: 150px;
}
.product button {
  margin-bottom: 10px;
  cursor: pointer;
}
.product input {
  text-align: center;
}
